services:
  # SpringBoot 애플리케이션
  app:
    build: .
    container_name: runninghandai-app
    ports:
      - "8080:8080"
    depends_on:
      mysql-db:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
      - DURUNUBI_SERVICE_KEY=${DURUNUBI_SERVICE_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - KAKAO_API_KEY=${KAKAO_API_KEY}
      - KAKAO_CLIENT_SECRET=${KAKAO_CLIENT_SECRET}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - NAVER_API_KEY=${NAVER_API_KEY}
      - NAVER_CLIENT_SECRET=${NAVER_CLIENT_SECRET}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}

  # MySQL Database
  mysql-db:
    image: mysql:8.0
    container_name: runninghandai-local-db
    ports:
      - "3307:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}" ]
      interval: 10s # 10초마다 확인
      timeout: 10s # 10초 안에 응답 없으면 실패
      retries: 10 # 10번 재시도
      start_period: 40s # 컨테이너 시작 후 40초의 유예시간 부여