spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL_PROD}
    username: ${SPRING_DATASOURCE_USERNAME_PROD}
    password: ${SPRING_DATASOURCE_PASSWORD_PROD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none

  security:
    oauth2:
      client:
        registration:
          kakao:
            redirect-uri: https://api.runninghandai.com/login/oauth2/code/kakao
          naver:
            redirect-uri: https://api.runninghandai.com/login/oauth2/code/naver

aws:
  region: ap-northeast-2
  s3:
    bucket-name: runninghandai-bucket