spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL_PROD}
    username: ${SPRING_DATASOURCE_USERNAME_PROD}
    password: ${SPRING_DATASOURCE_PASSWORD_PROD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-name: kakao
            client-id: ${KAKAO_API_KEY}
            client-secret: ${KAKAO_CLIENT_SECRET}
            # (2) 인가코드를 서버에 전달
            redirect-uri: http://43.202.125.162/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
        provider:
          kakao:
            # (1) 사용자가 카카오 로그인 클릭 시
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            # (3) 카카오 Access Token 발급
            token-uri: https://kauth.kakao.com/oauth/token
            # (4) 카카오 Access Token으로 사용자 정보 반환
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
            scope: account_email

aws:
  region: ap-northeast-2
  s3:
    bucket-name: runninghandai-bucket

app:
  oauth2:
    redirect-uri: http://localhost:3000/auth