spring:
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 100
        jdbc:
          batch_size: 100 # JDBC Batch Insert 활성화
        order_inserts: true
        order_updates: true
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-3.5-turbo

  cloud:
    aws:
      credentials:
        access-key: ${S3_ACCESS_KEY}
        secret-key: ${S3_SECRET_KEY}
      region:
        static: ap-northeast-2
      s3:
        bucket: ${S3_BUCKET_NAME}

  servlet:
    multipart:
      max-file-size: 5MB

server:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      base-path: /

external:
  api:
    durunubi:
      base-url: http://apis.data.go.kr/B551011/Durunubi
      service-key: ${DURUNUBI_SERVICE_KEY}

springdoc:
  default-produces-media-type: application/json
  paths-to-exclude:
    - /api/admin/** # Swagger UI에서 제외하는 엔드포인트

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [ReqId: %X{requestId:-EMPTY}] [ClientIp: %X{clientIp:-EMPTY}] - %msg%n"
  level:
    root: INFO