spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1 # 테스트용 DB
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
  ai:
    openai:
      api-key: "test-dummy-openai-key"

external:
  api:
    durunubi:
      service-key: "test-dummy-service-key"