spring:
  profiles:
    active: prod

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 100
        jdbc:
          batch_size: 100 # JDBC Batch Insert 활성화
        order_inserts: true
        order_updates: true
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-3.5-turbo

server:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      base-path: /

external:
  api:
    durunubi:
      base-url: http://apis.data.go.kr/B551011/Durunubi
      service-key: ${DURUNUBI_SERVICE_KEY}

springdoc:
  default-produces-media-type: application/json
  paths-to-exclude:
    - /api/admin/** # Swagger UI에서 제외하는 엔드포인트
