spring:
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 100
        jdbc:
          batch_size: 100 # JDBC Batch Insert 활성화
        order_inserts: true
        order_updates: true
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-3.5-turbo

  cloud:
    aws:
      credentials:
        access-key: ${S3_ACCESS_KEY}
        secret-key: ${S3_SECRET_KEY}
      region:
        static: ap-northeast-2
      s3:
        bucket: ${S3_BUCKET_NAME}

server:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      base-path: /

external:
  api:
    durunubi:
      base-url: http://apis.data.go.kr/B551011/Durunubi
      service-key: ${DURUNUBI_SERVICE_KEY}

springdoc:
  default-produces-media-type: application/json
  paths-to-exclude:
    - /api/admin/** # Swagger UI에서 제외하는 엔드포인트

jwt:
  secret-key: ${JWT_SECRET_KEY}
  # Access Token: 30분 (1,800,000ms)
  access-expiration: 1800000
  # Refresh Token: 14일 (1,209,600,000ms)
  refresh-expiration: 1209600000
