spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1 # 테스트용 DB
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
  ai:
    openai:
      api-key: "test-openai-key"
      input-max-tokens: 126000

  cloud:
    aws:
      credentials:
        access-key: "test-s3-access-key"
        secret-key: "test-s3-secret-key"
      region:
        static: ap-northeast-2
      s3:
        bucket: "test-s3-bucket-name"

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-name: kakao
            client-id: "test-kakao-api-key"
            client-secret: "test-kakao-client-secret"
            # (2) 인가코드를 서버에 전달
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope: account_email
          naver:
            client-name: naver
            client-id: "test-naver-api-key"
            client-secret: "test-naver-client-secret"
            # (2) 인가코드를 서버에 전달
            redirect-uri: http://localhost:8080/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope: email
          # Google의 경우, Spring Security에서 기본 제공하는 CommonOAuth2Provider에 포함
          google:
            client-id: "test-google-api-key"
            client-secret: "test-google-client-secret"
            scope: email
        provider:
          kakao:
            # (1) 사용자가 카카오 로그인 클릭 시
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            # (3) 카카오 Access Token 발급
            token-uri: https://kauth.kakao.com/oauth/token
            # (4) 카카오 Access Token으로 사용자 정보 반환
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            # (1) 사용자가 네이버 로그인 클릭 시
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            # (3) 네이버 Access Token 발급
            token-uri: https://nid.naver.com/oauth2.0/token
            # (4) 네이버 Access Token으로 사용자 정보 반환
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

external:
  api:
    durunubi:
      service-key: "test-service-key"

jwt:
  secret-key: "test-jwt-secret-key"
  # Access Token: 30분 (1,800,000ms)
  access-expiration: 1800000
  # Refresh Token: 14일 (1,209,600,000ms)
  refresh-expiration: 1209600000

app:
  oauth2:
    redirect-uri: http://localhost:3000/auth

cors:
  allowed-origins: "test-cors-allowed-origins"

course:
  simplification:
    distance-tolerance: 0.0001