spring:
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 100
sever:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      base-path: /

external:
  api:
    durunubi:
      base-url: http://apis.data.go.kr/B551011/Durunubi
      service-key: ${DURUNUBI_SERVICE_KEY}